# Git
.git
.gitignore

# Docker
.docker

# Python
thumbify/__pycache__/
thumbify/*/__pycache__/
thumbify/*/*/__pycache__/
thumbify/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/

# vscode
.vscode/